{% extends 'base.html' %}

{% block title %} <title>Stocks</title> {% endblock %}

{% block content %}

  <form method='GET' action=''>
    <p>{{ error_message }}</p>
    {% csrf_token %}
    <label for='ticker_search'>Search for NASDAQ ticker:</label>
    <input type='search' name='ticker_search'>
    <button type='submit'>Search</button>
  </form>
    
  <p>Testing the following: <strong>{{ companyName }}</strong> <strong>{{ symbol }}</strong> at price of <strong>{{ latestPrice }}</strong></p>
  <p>P/E Ratio: {{ peRatio }}</p>
  <p>Market Cap (Billion): {{ marketCap|floatformat:2 }}</p>
  <p>52-Week High: {{ week52High }}</p>
  <p>52-Week Low: {{ week52Low }}</p>
  <p>P/B Ratio: {{ priceToBook }}</p>
  <p>P/S Ratio: {{ priceToSales }}</p>
  

{% endblock %}