{% extends 'base.html' %}

{% block content %}
  <p>Placeholder for top50 stocks(gain)</p>
    <form method='GET'>
    {% csrf_token %}
      <button type='submit' class='btn btn-primary' name='timer' value='1-Month'>1-Month</button> 
      <button type='submit' class='btn btn-primary' name='timer' value='3-Months'>3-Months</button>
      <button type='submit' class='btn btn-primary' name='timer' value='6-Months'>6-Months</button>
      <button type='submit' class='btn btn-primary' name='timer' value='1-Year'>1-Year</button>
      <button type='submit' class='btn btn-primary' name='timer' value='5-Years'>5-Years</button>
    </form>
  {{ df|safe }}
{% endblock %}