* {
  color:white;
  background:black;
  padding:0;
  margin:0;
}

html, body{
  width:100%;
}

.front-page{
  text-align: center;
}

.front-header{
  text-align: left;
  padding-left: 10px;
}

a{
  text-decoration: none;
  color: white;
}

a:hover{
  color:#0dba86;
}

.dataframe th{

}

.dataframe tr{

}

.dataframe td{

}